<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
	<title>Home</title>
</head>
<body data-lift-content-id="main">
	<div id="main" ng-app="myApp" class="application" data-lift="surround?with=default;at=content">
		<div id="controller" data-ng-controller="SimpleCtrl" class="lift:IndexSnippet.index">
			<!-- <div id="mycomet" data-lift="comet?type=CometExample;name=comet-exampler"></div> -->
			<script data-lift="Angular" type="text/javascript"></script>
			<script id="angularscript" type="text/javascript"></script>
			<h2>
				<span data-lift="Loc?locid=index.welcome.label"> Welcome to your project!</span>
			</h2>
			<div>
				<button class="btn btn-default" ng-click="getDataFuture('future')">Get Data Future</button>
				<button class="btn btn-default" ng-click="getDataSync('sync')">Get Data Sync</button>
				<label>TestData <span>{{testdata}}</span></label>
			</div>
		</div>
	</div>

</body>
</html>

