<!DOCTYPE html>
<body class="lift:content_id=main">
	<div id="main" data-ng-app="foboDemoApp" data-lift="surround?with=default;at=content">
		<div class="lift:SwitchSnippet.edit">
			<div id="controller" ng-controller="SwitchCtrl">
				<script data-lift="Angular" type="text/javascript"></script>
				<script id="angularscript" type="text/javascript"></script>			
				<ul>
					<li><label>Edit Choice </label> {{editChoice}}</li>
					<li><label>Category </label> {{category.name}}</li>
					<li><label>RenameTag </label> {{rename.category}}</li>
				</ul>
						
				<form>
					<label class="inline-radio">Select Operation: 
						<input type="radio" ng-model="editChoice" value="edit">
						<span class="label-normal">Edit</span> 
						<input type="radio"	ng-model="editChoice" value="rename">
						<span class="label-normal">Rename</span>
					</label>
 					     
					<div>
						<span>Button bound by snippet onclick outside of switch - only works with category switch</span>
						<button id="saveCategoriesOutsideSwitch" type="button" class="btn btn-default btn-block">Save Categories (outside switch)</button>
					</div>
					
 					<div ng-switch="editChoice">
 						<div ng-switch-when="edit">
							<h4>Editor</h4>
							<div class="row">
								<div class="col-sm-10">
									<div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<div class="panel-title">Category Input Editor</div>
											</div>
											<div class="panel-body">
												<label>Category</label>
												<input type="text" ng-model="category.name">
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<button id="saveCategories" type="button" class="btn btn-default btn-block">Save</button>
								</div>
							</div>
						</div>
	
 						<div ng-switch-when="rename">
							<h4>Rename</h4>
							<input type="text" ng-model="rename.category">
							<button id="renameTag" type="button" class="btn btn-primary">Rename</button>
						</div>
 					</div>
				</form>
			</div>
		</div>
	</div>
</body>